# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3
migrations/

# Static files
static_cdn/
media/

# Virtual environment
.venv/
.env

# IDE files
.vscode/
.idea/

# Dependency management
pip-lock.txt
