html{
    background-color: #1e1e1e;
    color: #80fffd;
    font-family: "Poppins", sans-serif;
    height: 100%;
}

main{
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
    align-items: center;
}

h1{
    text-align: center;
    font-weight: 900;
}


.go-back{
    display: block;
    margin-top: 30px;
    width: 60%;
    border-radius: 18px;
    background-color: #80fffd;
    border: none;
    color: black;
    font-size: 23px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    padding: 4px 0;
}