form{
    margin-top: 15px;
}

label[for="id_original"]{
    display: block;
    margin-bottom: 5px;
}

label{
    font-size: 19px;
}

input#id_original{
    width: 96%;
    margin-bottom: 25px;
}

input#id_short{
    width: 30%;
    min-width: 100px;
}

.errorlist{
    color: red;
    font-size: 13px;
    margin: 1px;
    margin-bottom: 7px;
}

#error-short{
    margin-top: 6px;
}

button#generate-link{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60%;
    height: 40px;
    border-radius: 18px;
    background-color: #80fffd;
    border: none;
    color: black;
    font-size: 23px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family:"Poppins", sans-serif;;
}